---
import MainLayout from "../../layout/MainLayout.astro";
// this is a hidden page
---

<MainLayout title="About">
  <p class="text-lg mt-4">This is a hidden page, it will not show and will not be included in astro build.</p>
</MainLayout>